tr {
    td, th {
        &.savebutton {
            display: none;
            border: none;
        }
    }
}

form#Form_SaveForm {
    thead tr {
        position: sticky;
        top: 0;
        z-index: 25;
    }
}
